body {
/*	background-color: #e4cfdc;*/
	background-color: #f4ebf1;
	background-size: cover;
	background-image: url(img/Untitled.png);
	background-repeat: no-repeat;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
/*	background-position: center;*/	
	text-align: center;
	margin: 0;
}

header {
	background-color: white;
/*	padding-top: 10px;*/
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul {
	display: inline-block;
	list-style-type: none;
}

li {
    float: left;
	
}

a {
    display: block;
    text-align: center;
/*    padding-top: 14px;*/
	padding-right:  40px;
    text-decoration: none;
	color: #AE548E;
	font-size: 15px;
/*	font-weight: bold;*/
/*	font-family: 'Merienda';*/
}

a:hover {
	color: #cccccc;
}

.activepage {
	color: #debcaa;
}

p {
	white-space: pre-line;
}

.ajtitle {
	color: #AE548E;
	font-size: 50px;
	font-family: 'Great Vibes', Helvetica, sans-serif;
/*	font-family: 'Arizonia', Helvetica, sans-serif;*/
	text-shadow: 4px 4px 2px rgba(0,0,0,0.1);
/*	font-weight: bold;*/
}

#festivities {
	color: #6c6c6c;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 4%;
/*	text-shadow: 1px 1px 2.5px rgba(0,0,0,0.2);*/
}

.boldtitle {
	white-space: pre-line;
}

.normaltitle {
	font-weight: normal;
	white-space: pre-line;
	
}

.italictitle {
	font-family: 'Great Vibes', cursive;
/*	color: #AE548E;*/
	color: #debcaa;
	font-weight: normal;
}

.subtitle {
	white-space: pre-line;
	font-weight: normal;
	font-style: italic;
}

.textbox {
	float: left;
	width: 50%;
	margin-top: 20px;
}